body {
  // background: #dedede;
  background-image: linear-gradient(-20deg, #00cdac 0%, #8ddad5 100%) !important;
}
.box{
  background-image: linear-gradient(-20deg, #098672 0%, #152524 100%) !important;
}
.text-heading{
  color: 	#FFBF00;
  font-weight: bold;
}
.page-wrap {
  min-height: 100vh;
  color: #fff;
}
