.error-msg{
  font-size:12px ;
  color: red ;
}
.bage-container{
  // background-color: cadetblue;
  background-image: linear-gradient(-20deg, #00cdac 0%, #8ddad5 100%);
}

.card-box{
  background-color: #fff;
}

.filed-h{
  min-height: 100px !important;
}
